@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --FF: 'Kumbh Sans', sans-serif;
    --FS: 18px;
    --DARKCYAN: hsl(185, 75%, 39%);
    --DESATURATEDBLUE: hsl(229, 23%, 23%);
    --GRAYISHBLUE: hsl(227, 10%, 46%);
    --GRAYISHGRAY: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--DARKCYAN);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
.card__container {
    background-color: white;
    border-radius: 1rem;
    max-width: 335px;
}

.card__bg--img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    gap: 1.5rem;
}

.card__profile--img {
    border-radius: 50%;
    outline: 5px solid white;
}

.stats__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    border-top: 1px solid lightgray;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.stats--count, .card__name {
    color: var(--DESATURATEDBLUE);
    font-size: 1em;
}

.card__age {
    font-weight: lighter;
    color: var(--GRAYISHGRAY);
}

.card__location {
    color: var(--GRAYISHGRAY);
    font-size: .9rem;
    margin-top: -10px;
}

.stats--detail {
    color: var(--GRAYISHGRAY);
    font-size: .7rem;
    letter-spacing: .1em;
}

@media  (min-width: 50em) {
    .card__container {
        transition: .3s;
        transform: scale(120%);
    }


}